.rhap_progress-section {
  display: none !important;
}
.rhap_additional-controls {
  display: none !important;
}
.rhap_volume-controls {
  display: none !important;
}
.rhap_container {
  width: 20%;
}
